.button{
    width: 100%;
    background: darkblue;
    color: white;
    border: 0;
    padding: 15px 30px;
    cursor: pointer;
}

.button:disabled{
    background: silver;
    cursor: not-allowed;
}